.wheelwrapper {background-color:#BF9264;width:500px;height:500px;position:relative;}
.wheelwrapper h2 {color:#fff;padding-top:20px;text-align:center;}
.wheelcircle {width:400px;height:400px;margin:0 auto;}
.animaldiv {display:none;margin-top:50px;}